@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Josefin Sans", sans-serif;
}

.link {
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 7.5rem 10.5vw 0;
}
.logo {
  height: 10rem;
}
.nav__list {
  display: flex;
  flex-direction: rows;
  /* width: 36.5vw; */
}
.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  list-style: none;
  border-radius: 2rem;
}
.nav__item:hover {
  background-color: #673ab7;
}
.nav__item:hover .nav__link {
  color: #fff;
}
.nav__item:nth-last-child(1) {
  background-color: #673ab7;
}
.nav__item:nth-last-child(1) .nav__link {
  color: #fff;
}

.nav__link {
  text-align: center;
  display: block;
  font-size: 2rem;
  width: 50rem;
  margin: auto;
  padding: 0.5rem 2rem;
  color: #673ab7;
}

.main {
  padding: 0 10.5vw;
}
.header-primary {
  color: #512da8;
  font-size: 8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.header-secondary {
  font-size: 4rem;
}
.header-tertiary {
  font-size: 3rem;
}

.bg__text {
  width: 1000%;
  position: absolute;
  left: -15rem;
}

.bg__text-t {
  font-size: 16rem;
  color: #ede8f7;
  line-height: 14rem;
}
